:root {
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #e8e8e8;
  margin-bottom: 100px;
  height: 100vh;
  margin-top: 300px;
}

h1 {
  font-size: 4.5rem;
  color: black;
}

h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 0;
  margin-top: 70px;
}

h3 {
  font-size: 2rem;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin: 3px;
}
button {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 3px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 151, 151, 0.176);
}
.startDay-button {
  border-radius: 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.249);
  padding: 0.6em 1.2em;
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #d4d4d4;
}

/* App.css */
.enter-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text horizontally */
}

.enter-page img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

.enter-page h1 {
  margin: 20px 0; /* Add some margin to separate from the image */
}

/* Home.jsx */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text horizontally */
  margin-top: 30px;
}
.general-deatils-nav {
  display: flex;
  justify-content: center;
}

.general-deatils {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 15px; /* Space between cards */
  padding: 10px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.227);
  min-height: 200px;
  width: 450px;
}

.card p {
  margin: 15px;
}

.action-buttons {
  display: flex;
  gap: 3px;
  justify-content: center;
}
.action-buttons button {
  width: 70px;
  margin: 0;
  background-color: rgba(255, 151, 151, 0.176);
}
